@model AdobeScheduler.Models.ViewObject
@{
    ViewBag.Title = "Dashboard";

}
<div id="addAppointment">
    <form id="modal-form" class="form-horizontal" accept-charset="UTF-8" data-remote="true">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Select Your Room:</label>
                <div class="controls select-control-div">
                    <select id="class" class="chosen-select" width="300" style="width: 300px">
                        <option selected="selected" disabled="disabled" data-path="" data-url="">Select Your Room:</option>
                        @if (Model.Session.MyMeetings != null)
                        {
                            foreach (AdobeScheduler.Models.MeetingItem myMeetingItem in Model.Session.MyMeetings)
                            {
                                <option data-path="@myMeetingItem.url_path" data-url="@myMeetingItem.FullUrl">@myMeetingItem.meeting_name</option>
                            }
                        }
                        else
                        {
                            <option>You have no Class Rooms Assigned</option>
                        }
                    </select>
                    <a id="room_link" href=""></a>
                </div>
                <hr />
                <label class="control-label">Select a Date And Time:</label>
                <div class="controls">
                    <input type="text" class="date_span" id="datetime" autocomplete="off" />
                </div>
                <label class="control-label">Event Repetition:</label>
                <div class="controls">
                    <select id="repetition" style="width: 80px">
                        <option value="None" selected>None</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Biweekly">Biweekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <input type="text" class="date_span" id="repetition_date" autocomplete="off" />
                </div>
                <hr />
                <label class="control-label">Duration (in Min):</label>
                <div class="controls">
                    <select id="duration" style="width: 60px">
                        <option value="29">30</option>
                        <option value="59">60</option>
                        <option value="89">90</option>
                    </select>
                </div>
                <hr />
                <label class="control-label">Number of Occupants:</label>
                <div class="controls">
                    <input id="occupants" type="text" class="numbersOnly" autocomplete="off" />
                </div>
                <div id="error">
                    <div class='alert alert-info'><strong style='float:left;'> Warning! </strong>  A maximum of <b> <span id="availableLicenses"></span></b> occupants <u>including the host</u> are available.</div>
                </div>
                <div id="meetingCrashError">
                    <div class='alert alert-info'><strong style='float:left;'> Warning! </strong> Beware of meetings after you </div>
                </div>                
            </div>
        </fieldset>
    </form>
</div>

<div id="busy1" class="square"></div>
<h2 id="fctitle"></h2>
<div id="calendar"></div>
<script>
    $(".chosen-select").chosen({ width: "300px" });    
</script>